/* Use the SG-Example.png located in the /Mockup folder 
as a guide for what you will be building */

/* 
====================================
Sets up styles for sidebar / navigation containers
====================================
*/

.sidebar-logo {
  width: 150px;
}

nav a {
  font-family: 'Roboto', sans-serif;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0.5em 0.5em 0.5em 0.5em; */
}

.sidebar-container {

  background: linear-gradient(#1C4984, #359FB8);
  color: white;
  height: 100%;
  position: fixed;
  padding: 25px;
  width: 25%;
  top: -20px;
  left: -5px;

}


.content-container {
position: relative;
top: 10px;
left: 200px;
margin: 0 auto;
max-width: 550px;
/* left: 0px; */

}



a {
  color: rgb(231, 231, 231);
  /* color: blue;
  transition: color .25s; */
}

a:hover {
  /* color: magenta;
  font-weight:bold; */
}

.center p {
  /* text-align: center; */
}

/* 
===========================
Sets up styles for logos 
============================
*/

.section-logo {
  /* width: 425px;
  height: 100%; */
}

/* 
===========================
Sets up styles for typography 
============================
*/

/* Sets up font-face for body copy */ 
body {
  font-family: 'Roboto', sans-serif;
  /* font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.4em; */
}

/* Sets up font-face for headers */ 
h1 {
font-family: 'Roboto', sans-serif;
font-size: 48px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h5,
h6 {
  /* font-family: 'Open Sans', sans-serif;
  color: navy;
  line-height: 1em; */
}

/* Sets up font-weights for headers */ 
h1 {
  /* font-weight: 700; */
}

h2,
h3,
h4,
h5,
h6 {
  /* font-weight: 600; */
}

.type-styles {
  margin-top:40px;
}

.type-faces {
  margin-top:40px;
}

.type-faces-01 {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.type-faces-02 {
  /* font-family: "Open Sans", sans-serif; */
}

/* 
==========================
Sets up styles for colors 
===========================
*/

/* Makes a circle shape to serve a color box */ 
.color-shape {
  display: block;
  text-align: center;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  margin: 0.5em;
  border: 1px solid white;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.4);
}

/* Makes colors */ 
.color-red {
  background: #1C4984;;
}

.color-orange {
  background: #0785CA;
}

.color-yellow {
  background: #86B4E1;
}

.color-green {
  background: #EEEEEE;
}

.color-blue {
  background: #359FB8;
}

.color-purple {
  background: #041A20;
}


/* 
===========================
Sets up styles for button 
============================
*/

.button button {
  height: 40px;
  width: 120px;
  border-radius: 4px;
  padding: 5px;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
}

.button-normal {
  background: #359FB8;
  color: rgb(255, 255, 255);
}

.button-hover {
  background: #86B4E1;
  color: #ffffff;
}

.button-pressed,
.button-loading {
  background:#041A20;
  color:rgb(255, 255, 255);
  box-shadow: 0px 2px 6px rgba(0,0,0,0.4);
}

.button-disabled {
  /* good to go or make a custom disabled state */
}

/* 
===========================
PSEUDO-CLASSES: VIEW SLIDES 58-63
============================
*/

.button:hover {
  color: rgb(7, 7, 7);
}

/* 
==========================
Sets up styles for icons 
===========================
*/

/* TO ADD FONT AWESOME ICONS GO TO THIS LINK AND COPY THE CSS LINK
https://fontawesome.com/how-to-use/on-the-web/setup/getting-started?using=web-fonts-with-css
*/

/* USPS iconography */
.usps-icons i {
  margin-top: 40px;
  font-size: 30px;
  color:rgb(51, 51, 102);
}

.svg-icons img {
  margin-top: 40px;
  width: 100px;
  height: 100px;
}

/* footer iconography */
.social-icons i {
  font-size: 44px;
  color:tomato;
}

.social-icons i:hover {
  color: magenta;
}

/* 
===========================
Sets up styles for images 
============================
*/

#Imagery img {
  padding: 10px;
}

/* 
====================================
Sets up styles for articles
====================================
*/
article {
  margin-top: 40px;
  margin-bottom: 60px;
}

/* Copyright Trilogy Education Services © 2018. All Rights Reserved */
/* Positions section container in relation to .sidebar-container */



/* Sets row behavior using flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.row-container-no-wrap {
  width:100%;
  display:flex; 
  /* === sets spacing between elements in container === */
   justify-content: space-between;
  flex-wrap: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.row-container {
  width:100%;
  display:flex; */
  /* === sets spacing between elements in container === */
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px; 
}

.row-container-around {
  width:100%;
  display:flex;
  /* === sets spacing between elements in container === */
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}









/* Hides mobile navigation on desktop */
.mobile-nav {
  /* display:none; */
}

/* Sets media query for screens below 450px wide */
@media only screen and (max-width: 450px) {

  /* Position nav at the top */
  nav {
      position: fixed;
      left: 0; 
  }

  /* Shows Mobile Navigation Styles  */
  .mobile-nav {
      background: white;
      width: 100%;
      padding: 10px 30px;Re
      display:flex;
      justify-content: flex-start;
      align-content: center;
      height: 80px;
      margin: 0;
      box-shadow: 0 0 10px rgba(0,0,0,0.4);
  }
  /* Sets max width for logos in mobile nav */
  .mobile-nav img {
      height: 80px;
  }

  /* Hides Sidebar on mobile */
  .sidebar-container {
      display: none;
  }

  /* Defines mobile container content */
  .section-container {
      background: lightskyblue; 
      margin-top: -40px;
      margin-left: -8px;
      margin-right: -10px;
      height: 100%;
      max-width: auto;
  }

  /* Sets Type Styles */
  h1 {
      font-size: 1.6em;
  }


  .row-container-no-wrap {
      flex-wrap: wrap;
  }

  #Logo .section-logo {
      width: 300px; 
      height: 100%;
  }
  .content-container {
    position: relative;
    top: 10px;
    left: 0;
    margin: 0 auto;
    max-width: 400px;
    /* left: 0px; */
    margin: 0 auto;
    display: block;
}

}